@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
    margin: 0;
    padding: 0;
    
}
body{
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    background-size: cover;
    background: linear-gradient(to top left, #753682 0%, #bf2e34 100%) no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.box{
    height: 70vh;
    width: 70vw;
    background-color: #c9c9c956;
    border-radius: 10px;
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.452) ;
    display:flex;
}

.players{
    width: 100%;
    height: 100%;
    display: flex;
}

.player{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    .info{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    p{
        font-size: 4em;
        color:#bf2e34;
    }
    .current{
        background-color: #bf2e34;
        width: 50%;
        height: 20%;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        p{
            font-size: 1em;
            color:#e0e0e0;
            &:last-child{
                font-size: 1.5em;
                color:#e0e0e0;
            }
        }
    
    }
}

.Cplayer{
    background-color: rgba(255, 255, 255, 0.493);
}

.menu{
    position: absolute;
    width: 70vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

img{
    height: 13vh;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.226) ;
}

.btn{
    width: 10em;
    height: 3em;
    border-radius: 100px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.226);
    border: none;
    font-weight: 400px;
    font-family: 'Nunito', sans-serif;
    &:hover{
        background-color: rgba(233, 233, 233, 0.897);
    }
}

.hidden {
    display: none;
}

.page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
  
    background-color: white;
    padding: 6rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
  }

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
}

.close-page {
    position: absolute;
    top: 1.2rem;
    right: 2rem;
    font-size: 5rem;
    color: #333;
    cursor: pointer;
    border: none;
    background: none;
  }